.container{
    display: flex;
}

.container-campoPesquisa-filtro{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
}

.container-cards{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}