*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Verde-destaque: #81FE88;
    --Verde-pastel:#BFFFC3;
    --Verde-petróleo:#132E35;
    --Grafite:#01080E;
    --Cinza-escuro:#171D1F;
    --Cinza:#3E3E3F;
    --Cinza-Médio:#888888;
    --Cinza-Claro:#BCBCBC;
    --Offwhite:#E1E1E1;
    --Branco:#FFFFFF;
    --fonte: 'Prompt', sans-serif;
}

body{
    background-color: var(--Grafite);
    font-family: var(--fonte);
}